p {
    color: deepskyblue;
    background: aliceblue;
    font-size: 30px;
}

* {
    border: red 1px solid;
}

.Pagina {

    width: 100%;
    height: 100%;
}

header .Pagina{
    width: 50%;
    height: 100px;
}
